*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Selettori tag */
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: white;
    z-index: 99;
  }
  
  main {
    margin-top: 60px;
  }
  
  h1 {
    font-size: 77px;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  h4,
  h5 {
    font-size: 16px;
  }
  
  p{
      line-height: 32px;
     
      
  }

  img{
    max-width: 100%;
  }
/************************************************
* Classi layout
************************************************/
.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
  }
  
  .container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  [class*="col_"] {
    float: left;
  }
  
  .col_1_9 {
    width: calc(100% / 9);
  }
  
  .col_2_9 {
    width: calc(100% / 9 * 2);
  }
  
  .col_3_9 {
    width: calc(100% / 9 * 3);
  }
  
  .col_4_9 {
    width: calc(100% / 9 * 4);
  }
  
  .col_5_9 {
    width: calc(100% / 9 * 5);
  }
  
  .col_6_9 {
    width: calc(100% / 9 * 6);
  }
  
  .box {
    height: 100px;
    border: 1px solid;
  }
 
  .partner-div{
    width: 55%;
  }

  .partner-div-2{
    margin-left: 20px;
    max-width: 43%;
  }

/* INIZIO HEADER */

nav div{
    display: inline-block;
}

header ul{
    display: inline-block;
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    vertical-align: top;
}

/* Fine Header */



/* Utilities */

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
   float: left;
}

.float-right{
   float: right;
}

.color-grey{
  color: grey;
}

/* Style */
.hero-container-div{
    transform: translate(0, 80px);
}
.blue-btn{
    background-color: #0061FF;
    color: white;
    line-height: 30px;
    padding: 0 30px;
    border: none;
    font-weight: 600;
    display: block;
}

.white-btn{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    line-height: 30px;
    padding: 0 30px;
    border: 1px solid grey;
    font-weight: 600;
    display: block;
}

.nav-btn{
    display: inline-block;
}

.hero-container{
    background-color: #b4d0e7;
    width: 100%;
    margin-bottom: 200px;
}
.hero-img{
    max-width: 100%;
}

.panel{
  border: 1px solid lightgray;
  line-height: 40px;
  padding: 50px;
  padding-top: 0;
  margin-top: 50px;
  min-height: 1000px;
}

.panel-enterprise{
  border: 1px solid lightgray;
  line-height: 40px;
  padding: 50px;
  padding-top: 0;
  margin-top: 25px;
  margin-bottom: 50px
}

.panel-name{
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 30px;
  position: relative;
}

.panel ul{
  list-style: none;
}

ul li i:first-child {
  margin-left: -21px;
}

span.color-grey{
  font-size:smaller;
}

.panel-enterprise-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
}

.card{
  padding-left: 20px;
  margin-bottom: 40px;
}

